*{
margin: 0;
padding: 0;  /* CSS Reset */
}

.um{
 width: 1880px;
 height: 280px;
 float:left;
 display: inline;
 background-color:blue;
   margin:10px;
}

.dois{
 width: 940px;
 height: 280px;
 float:left;
 display: inline;
 background-color:red;
   margin:10px;
}

.tres{
 width: 920px;
 height: 280px;
 float:left;
 display: inline;
 background-color:gray;
   margin:10px;
}

.quatro{ 
 width: 1880px;
 height: 280px;
 float:left;
 display: inline;
 background-color:yellow;
 margin:10px;
	
}
