*{
margin: 0;
padding: 0;  /* CSS Reset */
}

.um{
 width: 20%;
 height: 280px;
 float:left;
 display: inline;
 background-color:blue;
   margin:10px;
}

.dois{
 width: 20%;
 height: 280px;
 float:left;
 display: inline;
 background-color:red;
   margin:10px;
}

.tres{
 width: 55%;
 height: 280px;
 float:left;
 display: inline;
 background-color:gray;
   margin:10px;
}

.quatro{ 
 width: 20%;
 height: 280px;
 float:left;
 display: inline;
 background-color:yellow;
   margin:10px;
	
}

.cinco{
 width: 20%;
 height: 280px;
 float:left;
 display: inline;
 background-color:green;
   margin:10px;
}

.seis{
 width: 55%;
 height: 280px;
 float:left;
 display: inline;
 background-color: pink ;
 margin:10px;
}

.sete{
	 width: 20%;
 height: 280px;
  float:left;
 display: inline;
  background-color:purple;
   margin:10px;
}

.oito{
	 width: 20%;
 height: 280px;
  float:left;
 display: inline;
  background-color:black;
   margin:10px;
}

.nove{
	 width: 55%;
 height: 280px;
  float:left;
 display: inline;
  background-color:brown;
   margin:10px;
}